<html>
    <head>
        <title>Project Cost Calculator</title>
    </head>
<body>

<h1>Get a pattern--and get ready to list your materials!</h1>

<form action="/calculator" method="POST">
    A Greeting: <input type="text" name="greet">
    <br/>
    Your Name: <input type="text" name="name">
    <br/>
    <p>
    Yarn: <input type="text" name="yarn">
    <br/>
    Yarn weight: 
    <select name="weight">
  <option value="superfine">superfine</option>
  <option value="fine">fine</option>
  <option value="sport">sport</option>
  <option value="worsted">worsted</option>
</select> 
    <br/>
    Number of skeins, balls, or hanks: <input type="text" name="number_of_yarn">
    <br/>
    Cost per ball: <input type="text" name="cost_yarn">
    <br/>
    </p>
    Do you need needles? <input type="checkbox" name="needles" value="off">
    <br/>
    Number of packages: <input type="text" name="number_of_needles">
    <br/>
    Cost per package: <input type="text" name="cost_needles">
    <br/>
    Do you need a second set of needles? <input type="checkbox" name="needles2" value="on">
    <br/>
    Number of packages: <input type="text" name="number_of_needles2">
    <br/>
    Cost per package: <input type="text" name="cost_needles2">
    <br/>
    Do you need hooks? <input type="checkbox" name="hooks" value="off">
    <br/>
    Cost per hook: <input type="text" name="cost4">
    <br/>
    Do you need a second set of hooks? <input type="checkbox" name="hooks2" value="off">
    <br/>
    Cost per hook: <input type="text" name="cost5">
    <br/>
    Do you need buttons? <input type="checkbox" name="buttons" value="off">
    <br/>
    Cost per package: <input type="text" name="cost6">
    <br/>
    Do you need any other supplies? <input type="checkbox" name="supplies1" value="off">
    <br/>
    Enter supply type <input type="text" name="supplies1" value="off">
    <br/>
    Quantity needed: <input type="text" name="quantity1">
    <br/>
    Cost per package: <input type="text" name="cost7">
    <br/>
    Anything else? <input type="checkbox" name="supplies2" value="off">
    <br/>
    Enter supply type <input type="text" name="supplies1" value="off">
    <br/>
    Quantity needed: <input type="text" name="quantity2">
    <br/>
    Cost per package: <input type="text" name="cost8">
    <br/>
    <input type="submit">
</form>

</body>
</html>